{% extends 'base.html' %}

{% block content %}<br>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">{{blog.title}}</h4>
        <small>{{blog.writer}}<br>{{blog.pub_date}}</small>
    </div>
    {% if blog.image %}
    <img src="{{blog.image.url}}" alt="" width="500" height="500">
    {% endif %}
    <div class="card-body">
      <p class="card-text">{{blog.body}}</p>
      {% comment %} <p class="card-text">{{blog.description|safe}}</p> {% endcomment %}
    </div>
  </div><br>

    {% comment %} <h4>{{blog.title}}</h4>
    <div>
    {{blog.writer}}<br>
    {{blog.pub_date}}</div>
    <hr>
    {% if blog.image %}
    <p><img src="{{blog.image.url}}" alt="" width="500" height="500"></p>
    {% endif %}
    <p>{{blog.body}}</p> {% endcomment %}

    <!-- <a href="{% url 'edit' blog.id%}">수정하기</a>
    <a href="{% url 'delete' blog.id%}">삭제하기</a> -->
    <button type="submit" class="btn btn-secondary" onclick="location.href='{% url 'edit' blog.id %}'">수정하기</button>
    <button type="submit" class="btn btn-secondary" onclick="location.href='{% url 'delete' blog.id %}'">삭제하기</button>
    <hr>
    <strong>댓글</strong><hr>
    {% for comment in blog.comments.all %} 
      <div class="comment"> 
        <strong>{{ comment.author_name }}</strong>
        <div class="date">{{ comment.created_at }}</div>  
        <p>{{ comment.comment_text|linebreaks }}</p> 
      </div> 
    {% empty %} 
      <p>아직 댓글이 달리지 않았습니다.</p> 
    {% endfor %}

    <hr>
    <a class="btn btn-success" href="{% url 'comment' blog.id%}">댓글쓰기</a>

{% endblock %}